@using BibleVerseLookup.Web.Pages.Shared.Constants
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
	<div class="container">
		<partial name="@SharedPartialViews.NavbarLeftButton" />
		@*<a class="navbar-brand" data-toggle="modal" data-target="@Modal.Target">
			<i class="fa fa-search"></i>
		</a>*@
		<a class="navbar-brand" title="Home" asp-page="@Anchors.Home.Index"><i class="fa fa-home"></i> Home</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
						aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
			<ul class="navbar-nav flex-grow-1">
				<li class="nav-item">
					<a class="nav-link text-dark" title="Server Side" asp-page="@Anchors.ServerSide.Index"><i class="fa fa-server"></i> Server Side</a>
				</li>

				<li class="nav-item">
					<a class="nav-link text-dark" title="Landing Page after a verse is looked up" asp-page="@Anchors.VerseList.Index"><i class="fa fa-plane"></i> Landing Page</a>
				</li>

				<li class="nav-item">
					<a class="nav-link text-dark" title="About" asp-page="@Anchors.ConditionalLinqQueryEngine.Index"><i class="fa fa-search-plus"></i> LINQ Query</a>
				</li>

				<li class="nav-item">
					<a class="nav-link text-dark" title="About" asp-page="@Anchors.SelectList.Index"><i class="fa fa-search-plus"></i> SelectList</a>
				</li>

				<li class="nav-item">
					<a class="nav-link text-dark" title="About" asp-page="@Anchors.Home.About"><i class="fa fa-info"></i> About</a>
				</li>

			</ul>
		</div>
	</div>
</nav>

<partial name="@SharedPartialViews.NavbarModalSearch" />

